:root {
  --primary-color: #2e3135;
  --secondery-color: #e65f78;
  --pure-color: #e0ebeb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins;
  overflow-x: hidden;
  background: var(--primary-color);
  color: var(--pure-color);
}
.about {
  height: 100vh;
  display: flex;
  align-items: center;
}
.about_content {
  display: flex;
  justify-content: center;
  padding: 90px;
}
.about_image img {
  width: 600px;
  background-color: #3b3e42;
  border: 3px solid #4d5052;
  border-radius: 0.25rem;
  opacity: 0.8;
  margin-right: 2rem;
}
.about_text .about_text_content h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
}
.about_text .about_text_content h2 span {
  font-weight: 700;
}
.about_text .about_text_content h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.about_text .about_text_content h4 span {
  color: var(--secondery-color);
}
.about_text .about_text_content p {
  color: #a0a0ac;
  margin-bottom: 1rem;
}
.about_text .about_text_icon a {
  margin: 10px;
  color: #a0a0ac;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #6b6e6f;
  line-height: 38px;
  transition: all 0.5s;
  text-align: center;
}
.about_text .about_text_icon a:hover {
  border: 2px solid var(--secondery-color);
  color: var(--secondery-color);
}

@media screen and (max-width: 1100px) {
  .about {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .about_content {
    flex-direction: column;
  }
  .about_image img {
    width: 450px;
    margin: 0.6rem;
  }
  .about_text {
    padding: 20px;
  }
}
